@model ProyectoVuelaSA.Models.vuelo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>vuelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechasalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechasalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechallegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechallegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioturista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioturista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioejecutiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioejecutiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioprimeraclase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioprimeraclase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aeropuerto.ciudadnombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aeropuerto.ciudadnombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aeropuerto1.ciudadnombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aeropuerto1.ciudadnombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
